<header>
  <img src="<%= base %>assets/img/vitorleal.jpg" alt="<%= name %>" title="<%= name %>" class="profilepic" />

  <hgroup>
    <h1>
      <a href="/"><%= name %></a>
    </h1>
    <h2 class="subtitle"><%= subtitle %></h2>
  </hgroup>
</header>
