<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author"              content="<%= name %>">
    <meta name="description"         content="<%= description %>">

    <meta name="viewport"            content="width=device-width, initial-scale=1">
    <meta property="og:url"          content="<%= url %>">
    <meta property="og:image"        content="<%= url %>/assets/img/vitorleal.jpg">
    <meta property="og:title"        content="<%= title %>">
    <meta property="og:description"  content="<%= description %>">
    <meta property="og:type"         content="blog">

    <meta name="twitter:card"        content="summary">
    <meta name="twitter:creator"     content="<%= twitter %>">
    <meta name="twitter:site"        content="<%= twitter %>">
    <meta name="twitter:domain"      content="<%= url %>">
    <meta name="twitter:title"       content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta property="og:image"        content="<%= url %>/assets/img/vitorleal.jpg">

    <link href="<%= base %>assets/img/favicon.png" rel="icon">

    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans|Roboto:400,300" rel="stylesheet">
    <link href="<%= base %>assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="<%= base %>assets/js/main.js"></script>
  </head>

  <body>
    <section class="container">
      <%- partial("partials/_sidebar") %>

      <article class="right">
        <div class="inner-right">
          <% if(current.path[0] === "blog" && current.source !== "index") { %>
          <%- partial(current.path[0] + "/_post", { source: current.source }) %>

          <% } else { %>
              <%- yield %>
          <% } %>

          <%- partial("partials/_footer") %>
        </div>
      </article>
    </section>
  </body>
</html>
