<footer class="android-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
    </div>

    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Ir para o topo <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">
      Copyright &copy; <%= year %> - <%= name %> - <a href="mailto:<%= email %>"><%= email %></a>
    </p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <% menu.forEach(function (item) { %>
    <a class="android-link mdl-typography--font-light"
      href="<%= url %><%= item.link %>">
      <%= item.title %>
    </a>
    <% }); %>
    <% social.forEach(function (item) { %>
    <a class="android-link mdl-typography--font-light" href="<%= item.link %>" target="_blank">
      <%= item.title %>
    </a>
    <% }); %>
  </div>
</footer>
