<header>
  <h1 class="entry-title">Talks</h1>
</header>

<p>Todas as palestras podem ser encontradas no meu <a href="https://speakerdeck.com/vitorleal" target="_blank">SpeakerDeck</a>.</p>

<div id="blog-archives">
  <% var data = public.blog._data; var posts = Object.keys(data); posts.shift(); %>
  <% posts.forEach(function (post) { %>
  <% if (data[post].categories.indexOf("talks") !== -1) { %>
  <article>
    <time datetime="<%= data[post].date %>" pubdate>
      <% var date = new Date(data[post].date); %>
      <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %>
    </time>

    <h1>
      <a href="<%= base %>blog/<%= post %>"><%= data[post].title %></a>
    </h1>

    <% if (data[post].img) { %>
    <a href="<%= base %>blog/<%= post %>" title="<%= data[post].title %>"><img src="<%= base %><%= data[post].img %>" alt="<%= data[post].title %>"></a>
    <% } %>

    <% if (data[post].categories) { %>
    <footer>
      <span class="categories"><%= data[post].categories.join(", ") %></span>
    </footer>
    <% } %>
  </article>
  <% } %>
  <% }); %>
</div>

